<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Phozogy Template">
    <meta name="keywords" content="Phozogy, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @RenderSection("head", required: false)
    <title>Phozogy | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/NavFooter/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/NavFooter/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/NavFooter/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/NavFooter/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/NavFooter/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/NavFooter/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/NavFooter/css/style.css" type="text/css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="~/NavFooter/img/logo.png" alt="">
                        </a>
                    </div>
                    <nav class="nav-menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/Home/Index">Home</a></li>
                            <li><a href="/Home/About">About</a></li>
                            
                            <li><a href="./pricing.html">Pricing</a></li>
                            <li><a href="./portfolio.html">Portfolio</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                            @if (Session["UserName"] != null)
                            {
                                if (Session["role"].ToString() == "User")
                                {
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="/Home/Gellery">Upload Image</a></li>
                                            <li><a href="/Home/showImage">Gellery</a></li>
                                            <li><a href="/OrderTables/Index">Your Orders</a></li>
                                        </ul>
                                    </li>

    <li style="font-family:'Arial Rounded MT'; font-size:20px">@Session["UserName"]</li>
    <li><a href="/RegisterLogin/Logout">Logout</a></li>
                                }

                            }
                            else
                            {
                                <li><a href="/RegisterLogin/Register">Register Your Self</a></li>
   
                            }
                        </ul>
                    </nav>
                    <div class="top-search search-switch">
                        <i class="fa fa-search"></i>
                       
                    </div>
                    <div id="mobile-menu-wrap"></div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <div class="container body-content">
       
        @RenderBody()
        <hr />
    </div>
        <!-- Footer Section Begin -->
        <footer class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="fs-about">
                            <div class="fa-logo">
                                <a href="#">
                                    <img src="~/NavFooter/img/f-logo.png" alt="">
                                </a>
                            </div>
                            <p>
                                Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua.
                            </p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="fs-widget">
                            <h5>Instagram</h5>
                            <div class="fw-instagram">
                                <img src="~/NavFooter/img/instagram/insta-1.jpg" alt="">
                                <img src="~/NavFooter/img/instagram/insta-2.jpg" alt="">
                                <img src="~/NavFooter/img/instagram/insta-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="fs-widget">
                            <h5>Quick links</h5>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Services</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="fs-widget">
                            <h5>Subscribe</h5>
                            <p>Imolor amet consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            <div class="fw-subscribe">
                                <form action="#">
                                    <input type="text" placeholder="Email">
                                    <button type="submit"><i class="fa fa-send"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>